Repository LLNL/sundials, pull requests merged in 2022-12, with the labels that each got.

#238 Fix finding oneMKL with icpx -fsycl
  CHANGELOG.md
  cmake/tpl/SundialsONEMKL.cmake
  doc/arkode/guide/source/Introduction.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/ida/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  doc/kinsol/guide/source/Introduction.rst
Labels: tpl-onemkl

#235 Feature/fix fortran array bounds
  CHANGELOG.md
  doc/arkode/guide/source/Introduction.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/ida/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  doc/kinsol/guide/source/Introduction.rst
  doc/shared/nvectors/NVector_Description.rst
  doc/shared/nvectors/NVector_MPIManyVector.rst
  doc/shared/nvectors/NVector_MPIPlusX.rst
  doc/shared/nvectors/NVector_ManyVector.rst
  doc/shared/nvectors/NVector_Operations.rst
  doc/shared/sunmatrix/SUNMatrix_Band.rst
  examples/sunlinsol/band/test_fsunlinsol_band_mod.f90
  examples/sunmatrix/band/test_fsunmatrix_band_mod.f90
  include/sundials/sundials_nvector.h
  include/sunmatrix/sunmatrix_band.h
  src/nvector/manyvector/fmod/fnvector_manyvector_mod.c
  src/nvector/manyvector/fmod/fnvector_manyvector_mod.f90
  src/nvector/manyvector/fmod/fnvector_mpimanyvector_mod.c
  src/nvector/manyvector/fmod/fnvector_mpimanyvector_mod.f90
  src/nvector/mpiplusx/fmod/fnvector_mpiplusx_mod.c
  src/nvector/mpiplusx/fmod/fnvector_mpiplusx_mod.f90
  src/nvector/openmp/fmod/fnvector_openmp_mod.c
  src/nvector/openmp/fmod/fnvector_openmp_mod.f90
  src/nvector/parallel/fmod/fnvector_parallel_mod.c
  src/nvector/parallel/fmod/fnvector_parallel_mod.f90
  src/nvector/pthreads/fmod/fnvector_pthreads_mod.c
  src/nvector/pthreads/fmod/fnvector_pthreads_mod.f90
  src/nvector/serial/fmod/fnvector_serial_mod.c
  src/nvector/serial/fmod/fnvector_serial_mod.f90
  src/sundials/fmod/fsundials_nvector_mod.c
  src/sundials/fmod/fsundials_nvector_mod.f90
  src/sunmatrix/band/fmod/fsunmatrix_band_mod.c
  src/sunmatrix/band/fmod/fsunmatrix_band_mod.f90
  src/sunmatrix/band/sunmatrix_band.c
  src/sunmatrix/dense/fmod/fsunmatrix_dense_mod.c
  src/sunmatrix/dense/fmod/fsunmatrix_dense_mod.f90
  src/sunmatrix/sparse/fmod/fsunmatrix_sparse_mod.c
  src/sunmatrix/sparse/fmod/fsunmatrix_sparse_mod.f90
  swig/Makefile
  swig/fnvector-getarraypointer.patch
  swig/nvector/fnvector.i
  swig/nvector/fnvector_manyvector_mod.i
  swig/nvector/fnvector_mpimanyvector_mod.i
  swig/nvector/fnvector_mpiplusx_mod.i
  swig/nvector/fnvector_openmp_mod.i
  swig/nvector/fnvector_parallel_mod.i
  swig/nvector/fnvector_pthreads_mod.i
  swig/nvector/fnvector_serial_mod.i
  swig/sundials/fsundials_nvector_mod.i
  swig/sunmatrix/fsunmatrix_band_mod.i
  swig/sunmatrix/fsunmatrix_dense_mod.i
  swig/sunmatrix/fsunmatrix_sparse_mod.i
  test/env/default.sh
  test/env/docker.sh
Labels: Fortran

#239 Add missing RCONST in ESDIRK5(4)7L[2]SA2
  CHANGELOG.md
  doc/arkode/guide/source/Introduction.rst
  src/arkode/arkode_butcher_dirk.def
Labels: pkg-ARKODE

#236 Feature/sunmemory alloc stats
  CHANGELOG.md
  doc/arkode/guide/source/Introduction.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/ida/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  doc/kinsol/guide/source/Introduction.rst
  doc/shared/sunmemory/SUNMemory_CUDA.rst
  doc/shared/sunmemory/SUNMemory_Description.rst
  doc/shared/sunmemory/SUNMemory_HIP.rst
  doc/shared/sunmemory/SUNMemory_SYCL.rst
  examples/utilities/custom_memory_helper_gpu.h
  examples/utilities/custom_memory_helper_sycl.h
  include/sundials/sundials_memory.h
  include/sunmemory/sunmemory_cuda.h
  include/sunmemory/sunmemory_hip.h
  include/sunmemory/sunmemory_sycl.h
  include/sunmemory/sunmemory_system.h
  scripts/shared
  src/sundials/sundials_memory.c
  src/sunmatrix/cusparse/sunmatrix_cusparse.cu
  src/sunmemory/cuda/sundials_cuda_memory.cu
  src/sunmemory/hip/sundials_hip_memory.hip.cpp
  src/sunmemory/sycl/sundials_sycl_memory.cpp
  src/sunmemory/system/sundials_system_memory.c
  test/unit_tests/CMakeLists.txt
  test/unit_tests/sunmemory/CMakeLists.txt
  test/unit_tests/sunmemory/cuda/CMakeLists.txt
  test/unit_tests/sunmemory/cuda/test_sunmemory_cuda.cu
  test/unit_tests/sunmemory/hip/CMakeLists.txt
  test/unit_tests/sunmemory/hip/test_sunmemory_hip.cpp
  test/unit_tests/sunmemory/sycl/CMakeLists.txt
  test/unit_tests/sunmemory/sycl/test_sunmemory_sycl.cpp
  test/unit_tests/sunmemory/sys/CMakeLists.txt
  test/unit_tests/sunmemory/sys/test_sunmemory_sys.cpp
Labels: pkg-core

#237 Add support for the SYCL backend with RAJA-v2022.x.y
  CHANGELOG.md
  doc/arkode/guide/source/Introduction.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/ida/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  doc/kinsol/guide/source/Introduction.rst
  examples/cvode/CXX_onemkl/cvRoberts_blockdiag_onemkl.cpp
  examples/cvode/CXX_sycl/cvAdvDiff_kry_sycl.cpp
  examples/nvector/sycl/test_nvector_sycl.cpp
  examples/sunlinsol/onemkldense/test_sunlinsol_onemkldense.cpp
  examples/sunmatrix/onemkldense/test_sunmatrix_onemkldense.cpp
  src/nvector/raja/nvector_raja.cpp
Labels: pkg-core, tpl-raja
