Repository LLNL/sundials, pull requests merged in 2022-06, with the labels that each got.

#145 Feature/new dirk
  CHANGELOG.md
  doc/arkode/guide/source/Butcher.rst
  doc/arkode/guide/source/Introduction.rst
  doc/shared/figs/arkode/stab_region_25.png
  doc/shared/figs/arkode/stab_region_26.png
  doc/shared/figs/arkode/stab_region_27.png
  doc/shared/figs/arkode/stab_region_28.png
  doc/shared/figs/arkode/stab_region_29.png
  doc/shared/figs/arkode/stab_region_30.png
  doc/shared/figs/arkode/stab_region_31.png
  doc/shared/figs/arkode/stab_region_32.png
  doc/shared/figs/arkode/stab_region_33.png
  doc/shared/figs/arkode/stab_region_34.png
  doc/shared/figs/arkode/stab_region_35.png
  doc/shared/figs/arkode/stab_region_36.png
  doc/shared/figs/arkode/stab_region_37.png
  doc/shared/sundials.bib
  include/arkode/arkode_butcher_dirk.h
  scripts/arkode
  src/arkode/arkode_butcher_dirk.c
  test/unit_tests/arkode/CXX_serial/CMakeLists.txt
  test/unit_tests/arkode/CXX_serial/ark_butcher_tests.cpp
Labels: enhancement, pkg-ARKODE, status-ready-to-merge

#141 add cvRocket_Dns example
  CHANGELOG.md
  doc/cvode/guide/source/Introduction.rst
  doc/cvode/guide/source/Usage/index.rst
  examples/cvode/serial/CMakeLists.txt
  examples/cvode/serial/cvRocket_dns.c
  examples/cvode/serial/cvRocket_dns.out
  scripts/cvode
Labels: pkg-CVODE

#155 Update README.md
  README.md
Labels: status-ready-to-merge

#153 Fix MRIStep doc sections
  doc/arkode/guide/source/Usage/MRIStep_c_interface/User_callable.rst
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/adaptivity.rest
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/algebraic_solvers.rest
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/implicit_solves.rest
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/interpolated.rest
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/main_inputs.rest
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/main_outputs.rest
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/methods.rest
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/reinit.rest
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/reset.rest
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/resize.rest
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/rootfinding_init.rest
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/rootfinding_inputs.rest
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/rootfinding_outputs.rest
  doc/arkode/guide/source/Usage/MRIStep_c_interface/user_callable/tolerances.rest
Labels: docs, status-ready-to-merge

#151 ARKODE logging updates
  src/arkode/arkode.c
  src/arkode/arkode_arkstep.c
  src/arkode/arkode_erkstep.c
  src/arkode/arkode_mristep.c
  src/cvode/cvode.c
Labels: enhancement, pkg-ARKODE, status-ready-to-merge

#165 Correct recent changes for projection in CVODE(S)
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
Labels: status-ready-to-merge

#162 Update sundials citations
  CITATIONS.md
  doc/arkode/guide/source/Landing.rst
  doc/shared/cite_sundials.rst
  doc/superbuild/source/index.rst
Labels: status-ready-to-merge
