Repository LLNL/sundials, pull requests merged in 2022-10, with the labels that each got.

#213 Fix for C90 compilation error when logger enabled
  src/sundials/sundials_logger.c
Labels: pkg-SUNDIALS

#214 Bugfix/fortran nvgetarraypointer
  examples/arkode/F2003_parallel/CMakeLists.txt
  include/nvector/nvector_manyvector.h
  include/nvector/nvector_mpimanyvector.h
  include/sundials/sundials_nvector.h
  src/arkode/fmod/farkode_erkstep_mod.f90
  src/nvector/manyvector/fmod/fnvector_manyvector_mod.c
  src/nvector/manyvector/fmod/fnvector_manyvector_mod.f90
  src/nvector/manyvector/fmod/fnvector_mpimanyvector_mod.c
  src/nvector/manyvector/fmod/fnvector_mpimanyvector_mod.f90
  src/nvector/manyvector/nvector_manyvector.c
  src/nvector/mpiplusx/fmod/fnvector_mpiplusx_mod.f90
  src/nvector/mpiplusx/nvector_mpiplusx.c
  src/nvector/openmp/fmod/fnvector_openmp_mod.f90
  src/nvector/openmp/nvector_openmp.c
  src/nvector/parallel/fmod/fnvector_parallel_mod.f90
  src/nvector/parallel/nvector_parallel.c
  src/nvector/parhyp/nvector_parhyp.c
  src/nvector/pthreads/fmod/fnvector_pthreads_mod.f90
  src/nvector/pthreads/nvector_pthreads.c
  src/nvector/serial/fmod/fnvector_serial_mod.f90
  src/nvector/serial/nvector_serial.c
  src/sundials/fmod/fsundials_linearsolver_mod.f90
  src/sundials/fmod/fsundials_matrix_mod.f90
  src/sundials/fmod/fsundials_nvector_mod.c
  src/sundials/fmod/fsundials_nvector_mod.f90
  src/sundials/sundials_nvector.c
  swig/Makefile
  swig/fnvector-getarraypointer.patch
Labels: bug, Fortran, pkg-SUNDIALS

#216 Feature/findpetsc with pkgconf
  benchmarks/nvector/petsc/CMakeLists.txt
  cmake/SUNDIALSConfig.cmake.in
  cmake/SundialsTPLOptions.cmake
  cmake/macros/CorrectWindowsPaths.cmake
  cmake/macros/FindPackageMultipass.cmake
  cmake/macros/ResolveCompilerPaths.cmake
  cmake/tpl/FindPETSC.cmake
  cmake/tpl/FindSUPERLUDIST.cmake
  cmake/tpl/SundialsKokkos.cmake
  cmake/tpl/SundialsKokkosKernels.cmake
  cmake/tpl/SundialsPETSC.cmake
  doc/shared/Install.rst
  examples/arkode/CXX_serial/CMakeLists.txt
  examples/templates/cmakelists_parallel_CUDA_ex.in
  examples/templates/cmakelists_parallel_RAJA_ex.in
  examples/templates/cmakelists_serial_CUDA_ex.in
  examples/templates/cmakelists_serial_RAJA_ex.in
  scripts/shared
  src/nvector/petsc/CMakeLists.txt
  src/nvector/raja/CMakeLists.txt
  src/sunnonlinsol/petscsnes/CMakeLists.txt
Labels: tpl-petsc

#223 Bugfix/GitHub issue 74 lapack test fail
  CHANGELOG.md
  doc/arkode/guide/source/Introduction.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/ida/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  doc/kinsol/guide/source/Introduction.rst
  examples/sunlinsol/lapackband/test_sunlinsol_lapackband.c
  examples/sunlinsol/lapackdense/test_sunlinsol_lapackdense.c
  src/sunlinsol/lapackband/sunlinsol_lapackband.c
  src/sunlinsol/lapackdense/sunlinsol_lapackdense.c
Labels: bug, tpl-lapack
