Repository LLNL/sundials, pull requests merged in 2023-09, with the labels that each got.

#331 Examples: add missing include
  examples/utilities/example_utilities.hpp
Labels: bug

#336 append to CMAKE_MODULE_PATH instead of overwrite (#335)
  CMakeLists.txt
Labels: bug, cmake

#337 Change typedefs names to allow simulateous use of idas and cvodes
  CHANGELOG.md
  doc/cvodes/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  src/cvodes/cvodea.c
  src/cvodes/cvodea_io.c
  src/cvodes/cvodes_impl.h
  src/idas/idaa.c
  src/idas/idaa_io.c
  src/idas/idas_impl.h
Labels: enhancement, pkg-CVODE, pkg-IDAS

#318 Feature/compare califiles
  .gitlab/build_and_test.sh
  .gitlab/lassen-jobs.yml
  src/sundials/sundials_context.c
  test/benchmark_analysis.ipynb
  test/compare_benchmarks.py
  test/compare_examples.py
  test/testRunner
Labels: ci

#257 Fix time complexity issue for sparse matrix
  CHANGELOG.md
  doc/arkode/guide/source/Introduction.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/ida/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  doc/kinsol/guide/source/Introduction.rst
  src/sunmatrix/sparse/sunmatrix_sparse.c
Labels: enhancement, pkg-core

#343 Fix soversion ?
  CHANGELOG.md
  doc/arkode/guide/source/Introduction.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/ida/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  doc/kinsol/guide/source/Introduction.rst
  src/sunlinsol/band/CMakeLists.txt
  src/sunlinsol/cusolversp/CMakeLists.txt
  src/sunlinsol/dense/CMakeLists.txt
  src/sunlinsol/klu/CMakeLists.txt
  src/sunlinsol/lapackband/CMakeLists.txt
  src/sunlinsol/lapackdense/CMakeLists.txt
  src/sunlinsol/pcg/CMakeLists.txt
  src/sunlinsol/spbcgs/CMakeLists.txt
  src/sunlinsol/spfgmr/CMakeLists.txt
  src/sunlinsol/spgmr/CMakeLists.txt
  src/sunlinsol/sptfqmr/CMakeLists.txt
  src/sunlinsol/superludist/CMakeLists.txt
  src/sunlinsol/superlumt/CMakeLists.txt
  src/sunnonlinsol/fixedpoint/CMakeLists.txt
  src/sunnonlinsol/newton/CMakeLists.txt
Labels: bug, cmake

#344 Bugfix/arkode table docs
  doc/arkode/guide/source/Butcher.rst
  doc/arkode/guide/source/Constants.rst
Labels: docs

#346 bugfix-Support-ARK2-3-1-2
  CHANGELOG.md
  doc/arkode/guide/source/Introduction.rst
  src/arkode/arkode_arkstep_io.c
Labels: bug, pkg-ARKODE
