Repository LLNL/sundials, pull requests merged in 2023-10, with the labels that each got.

#352 Bugfix/docs missing cvodequadsstolerances
  doc/cvodes/guide/source/Usage/ADJ.rst
  doc/cvodes/guide/source/Usage/SIM.rst
Labels: bug, docs

#351 Add Ginkgo dpcpp into example
  .clang-format
  cmake/macros/SundialsAddExamplesGinkgo.cmake
  examples/cvode/ginkgo/CMakeLists.txt
  examples/cvode/ginkgo/cv_heat2D_ginkgo.DPCPP.out
  examples/cvode/ginkgo/cv_heat2D_ginkgo.HIP.out
  examples/cvode/ginkgo/cv_heat2D_ginkgo.cpp
  examples/cvode/ginkgo/cv_heat2D_ginkgo.hpp
  examples/sunlinsol/ginkgo/CMakeLists.txt
  examples/sunlinsol/ginkgo/test_sunlinsol_ginkgo.cpp
  examples/sunmatrix/ginkgo/CMakeLists.txt
  examples/sunmatrix/ginkgo/test_sunmatrix_ginkgo.cpp
Labels: tpl-ginkgo, sycl-dpcpp

#353 Fortran interface for lapack dense solver
  CHANGELOG.md
  doc/arkode/guide/source/Introduction.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/ida/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  doc/kinsol/guide/source/Introduction.rst
  examples/sunlinsol/lapackdense/CMakeLists.txt
  examples/sunlinsol/lapackdense/test_fsunlinsol_lapackdense_mod.f90
  scripts/shared
  src/sunlinsol/lapackdense/CMakeLists.txt
  src/sunlinsol/lapackdense/fmod/CMakeLists.txt
  src/sunlinsol/lapackdense/fmod/fsunlinsol_lapackdense_mod.c
  src/sunlinsol/lapackdense/fmod/fsunlinsol_lapackdense_mod.f90
  swig/Makefile
  swig/sunlinsol/fsunlinsol_lapackdense_mod.i
Labels: Fortran
