Repository LLNL/sundials, pull requests merged in 2023-06, with the labels that each got.

#282 RAJA Benchmark fixes
  benchmarks/advection_reaction_3D/CMakeLists.txt
  benchmarks/advection_reaction_3D/raja/CMakeLists.txt
  benchmarks/advection_reaction_3D/raja/ParallelGrid.hpp
  benchmarks/advection_reaction_3D/raja/README.md
  benchmarks/advection_reaction_3D/raja/advection_reaction_3D.cpp
  benchmarks/advection_reaction_3D/raja/advection_reaction_3D.hpp
  benchmarks/advection_reaction_3D/raja/arkode_driver.cpp
  benchmarks/advection_reaction_3D/raja/backends.hpp
  benchmarks/advection_reaction_3D/raja/check_retval.h
  benchmarks/advection_reaction_3D/raja/cvode_driver.cpp
  benchmarks/advection_reaction_3D/raja/ida_driver.cpp
  benchmarks/advection_reaction_3D/raja/rhs3D.hpp
  benchmarks/advection_reaction_3D/rhs3D.hpp
  benchmarks/advection_reaction_3D/scripts/make_plots.py
Labels: bug, tpl, tpl-raja

#284 Feature/sundialsfileopen
  CHANGELOG.md
  doc/arkode/guide/source/Introduction.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/ida/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  doc/kinsol/guide/source/Introduction.rst
  doc/shared/sundials/Fortran.rst
  src/sundials/sundials_futils.c
Labels: enhancement, Fortran

#287 Add missing break
  src/arkode/arkode_arkstep.c
Labels: bug, pkg-ARKODE

#295 Documentation Fixes
  doc/cvode/guide/source/Usage/index.rst
  doc/cvodes/guide/source/Usage/ADJ.rst
  doc/cvodes/guide/source/Usage/SIM.rst
  doc/ida/guide/source/Usage/index.rst
  doc/idas/guide/source/Usage/SIM.rst
Labels: docs

#294 Fix SUNDIALS_SUPERLUMT_THREAD_TYPE definition
  include/sundials/sundials_config.in
Labels: bug, tpl-superlumt
