Repository LLNL/sundials, pull requests merged in 2023-12, with the labels that each got.

#381 error handling in arkode
  CHANGELOG.md
  doc/arkode/guide/source/Introduction.rst
  doc/arkode/guide/source/Usage/ARKStep_c_interface/User_callable.rst
  doc/arkode/guide/source/Usage/ERKStep_c_interface/User_callable.rst
  doc/arkode/guide/source/Usage/MRIStep_c_interface/User_callable.rst
  doc/arkode/guide/source/Usage/SPRKStep_c_interface/User_callable.rst
  doc/arkode/guide/source/Usage/User_supplied.rst
  include/arkode/arkode.h
  include/arkode/arkode_arkstep.h
  include/arkode/arkode_erkstep.h
  include/arkode/arkode_mristep.h
  include/arkode/arkode_sprkstep.h
  src/arkode/arkode.c
  src/arkode/arkode_adapt.c
  src/arkode/arkode_arkstep.c
  src/arkode/arkode_arkstep_impl.h
  src/arkode/arkode_arkstep_io.c
  src/arkode/arkode_arkstep_nls.c
  src/arkode/arkode_bandpre.c
  src/arkode/arkode_bbdpre.c
  src/arkode/arkode_butcher_dirk.c
  src/arkode/arkode_butcher_erk.c
  src/arkode/arkode_erkstep.c
  src/arkode/arkode_erkstep_io.c
  src/arkode/arkode_impl.h
  src/arkode/arkode_interp.c
  src/arkode/arkode_io.c
  src/arkode/arkode_ls.c
  src/arkode/arkode_mri_tables.c
  src/arkode/arkode_mristep.c
  src/arkode/arkode_mristep_io.c
  src/arkode/arkode_mristep_nls.c
  src/arkode/arkode_relaxation.c
  src/arkode/arkode_root.c
  src/arkode/arkode_sprkstep.c
  src/arkode/arkode_sprkstep_io.c
  src/arkode/fmod/farkode_arkstep_mod.c
  src/arkode/fmod/farkode_arkstep_mod.f90
  src/arkode/fmod/farkode_erkstep_mod.c
  src/arkode/fmod/farkode_erkstep_mod.f90
  src/arkode/fmod/farkode_mristep_mod.c
  src/arkode/fmod/farkode_mristep_mod.f90
  src/arkode/fmod/farkode_sprkstep_mod.c
  src/arkode/fmod/farkode_sprkstep_mod.f90
  test/unit_tests/arkode/CMakeLists.txt
  test/unit_tests/arkode/gtest/CMakeLists.txt
  test/unit_tests/arkode/gtest/test_arkode_error_handling.cpp
Labels: enhancement, pkg-ARKODE

#382 error handling in cvode
  doc/cvode/guide/source/Introduction.rst
  doc/cvode/guide/source/Usage/index.rst
  examples/cvode/parallel/cvAdvDiff_diag_p.c
  include/cvode/cvode.h
  include/sundials/sundials_core.h
  src/cvode/cvode.c
  src/cvode/cvode_bandpre.c
  src/cvode/cvode_bbdpre.c
  src/cvode/cvode_diag.c
  src/cvode/cvode_impl.h
  src/cvode/cvode_io.c
  src/cvode/cvode_ls.c
  src/cvode/cvode_nls.c
  src/cvode/cvode_proj.c
  src/cvode/cvode_proj_impl.h
  src/cvode/fmod/fcvode_mod.c
  src/cvode/fmod/fcvode_mod.f90
  test/unit_tests/cvode/CMakeLists.txt
  test/unit_tests/cvode/gtest/CMakeLists.txt
  test/unit_tests/cvode/gtest/test_cvode_error_handling.cpp
Labels: enhancement, pkg-CVODE

#383 error handling in cvodes
  doc/cvodes/guide/source/Introduction.rst
  doc/cvodes/guide/source/Usage/SIM.rst
  include/cvodes/cvodes.h
  src/cvodes/cvodea.c
  src/cvodes/cvodea_io.c
  src/cvodes/cvodes.c
  src/cvodes/cvodes_bandpre.c
  src/cvodes/cvodes_bbdpre.c
  src/cvodes/cvodes_diag.c
  src/cvodes/cvodes_impl.h
  src/cvodes/cvodes_io.c
  src/cvodes/cvodes_ls.c
  src/cvodes/cvodes_nls.c
  src/cvodes/cvodes_nls_sim.c
  src/cvodes/cvodes_nls_stg.c
  src/cvodes/cvodes_nls_stg1.c
  src/cvodes/cvodes_proj.c
  src/cvodes/fmod/fcvodes_mod.c
  src/cvodes/fmod/fcvodes_mod.f90
  test/unit_tests/cvodes/CMakeLists.txt
  test/unit_tests/cvodes/gtest/CMakeLists.txt
  test/unit_tests/cvodes/gtest/test_cvodes_error_handling.cpp
Labels: enhancement, pkg-CVODES

#384 error handling in idas
  doc/idas/guide/source/Introduction.rst
  doc/idas/guide/source/Usage/FSA.rst
  doc/idas/guide/source/Usage/SIM.rst
  include/idas/idas.h
  src/idas/fmod/fidas_mod.c
  src/idas/fmod/fidas_mod.f90
  src/idas/idaa.c
  src/idas/idaa_io.c
  src/idas/idas.c
  src/idas/idas_bbdpre.c
  src/idas/idas_ic.c
  src/idas/idas_impl.h
  src/idas/idas_io.c
  src/idas/idas_ls.c
  src/idas/idas_nls.c
  src/idas/idas_nls_sim.c
  src/idas/idas_nls_stg.c
  test/unit_tests/idas/CMakeLists.txt
  test/unit_tests/idas/gtest/CMakeLists.txt
  test/unit_tests/idas/gtest/test_idas_error_handling.cpp
Labels: enhancement, pkg-IDAS

#385 error handling in ida
  doc/ida/guide/source/Introduction.rst
  doc/ida/guide/source/Usage/index.rst
  include/ida/ida.h
  src/ida/fmod/fida_mod.c
  src/ida/fmod/fida_mod.f90
  src/ida/ida.c
  src/ida/ida_bbdpre.c
  src/ida/ida_ic.c
  src/ida/ida_impl.h
  src/ida/ida_io.c
  src/ida/ida_ls.c
  src/ida/ida_nls.c
  test/unit_tests/ida/CMakeLists.txt
  test/unit_tests/ida/gtest/CMakeLists.txt
  test/unit_tests/ida/gtest/test_ida_error_handling.cpp
Labels: enhancement, pkg-IDA

#386 error handling in kinsol
  doc/kinsol/guide/source/Introduction.rst
  doc/kinsol/guide/source/Usage/index.rst
  include/kinsol/kinsol.h
  src/kinsol/fmod/fkinsol_mod.c
  src/kinsol/fmod/fkinsol_mod.f90
  src/kinsol/kinsol.c
  src/kinsol/kinsol_bbdpre.c
  src/kinsol/kinsol_impl.h
  src/kinsol/kinsol_io.c
  src/kinsol/kinsol_ls.c
  test/unit_tests/kinsol/CMakeLists.txt
  test/unit_tests/kinsol/gtest/CMakeLists.txt
  test/unit_tests/kinsol/gtest/test_kinsol_error_handling.cpp
Labels: enhancement, pkg-KINSOL

#395 arkode error handling follow up
  src/arkode/arkode.c
  src/arkode/arkode_bandpre.c
  src/arkode/arkode_bbdpre.c
  src/arkode/arkode_ls.c
  src/arkode/arkode_relaxation.c
  test/unit_tests/arkode/gtest/CMakeLists.txt
Labels: enhancement, pkg-ARKODE

#392 error handling in stuff that isnt in the other PRs
  doc/shared/sunadaptcontroller/SUNAdaptController_Description.rst
  doc/shared/sunadaptcontroller/SUNAdaptController_ImExGus.rst
  doc/shared/sunadaptcontroller/SUNAdaptController_Soderlind.rst
  doc/shared/sunmemory/SUNMemory_CUDA.rst
  doc/shared/sunmemory/SUNMemory_Description.rst
  doc/shared/sunmemory/SUNMemory_HIP.rst
  doc/shared/sunmemory/SUNMemory_SYCL.rst
  include/sunadaptcontroller/sunadaptcontroller_imexgus.h
  include/sunadaptcontroller/sunadaptcontroller_soderlind.h
  include/sundials/sundials_adaptcontroller.h
  include/sundials/sundials_errors.h
  include/sunmemory/sunmemory_cuda.h
  include/sunmemory/sunmemory_hip.h
  include/sunmemory/sunmemory_sycl.h
  include/sunmemory/sunmemory_system.h
  src/arkode/arkode.c
  src/arkode/arkode_adapt.c
  src/arkode/arkode_arkstep_io.c
  src/arkode/arkode_erkstep_io.c
  src/arkode/arkode_io.c
  src/arkode/arkode_user_controller.c
  src/sunadaptcontroller/imexgus/fmod/fsunadaptcontroller_imexgus_mod.c
  src/sunadaptcontroller/imexgus/sunadaptcontroller_imexgus.c
  src/sunadaptcontroller/soderlind/fmod/fsunadaptcontroller_soderlind_mod.c
  src/sunadaptcontroller/soderlind/sunadaptcontroller_soderlind.c
  src/sundials/fmod/fsundials_adaptcontroller_mod.f90
  src/sundials/fmod/fsundials_context_mod.f90
  src/sunmemory/cuda/sundials_cuda_memory.cu
  src/sunmemory/hip/sundials_hip_memory.hip.cpp
  src/sunmemory/sycl/sundials_sycl_memory.cpp
  src/sunmemory/system/sundials_system_memory.c
Labels: enhancement

#380 CI: Jenkins abort previous test
  test/jenkins/Jenkinsfile
Labels: ci

#390 error handling in sunmatrix
  CHANGELOG.md
  doc/shared/sunmatrix/SUNMatrix_Description.rst
  doc/shared/sunmatrix/SUNMatrix_MagmaDense.rst
  doc/shared/sunmatrix/SUNMatrix_OneMklDense.rst
  doc/shared/sunmatrix/SUNMatrix_Operations.rst
  doc/shared/sunmatrix/SUNMatrix_Sparse.rst
  doc/shared/sunmatrix/SUNMatrix_cuSparse.rst
  examples/arkode/CXX_parhyp/ark_heat2D_hypre_ls.cpp
  examples/arkode/F2003_custom/test_fsunlinsol_fortran_mod.f90
  examples/arkode/F2003_custom/test_fsunmatrix_fortran_mod.f90
  examples/cvode/CXX_parhyp/cv_heat2D_hypre_ls.cpp
  examples/sunmatrix/onemkldense/test_sunmatrix_onemkldense.cpp
  examples/sunmatrix/slunrloc/test_sunmatrix_slunrloc.cpp
  examples/sunmatrix/sparse/test_sunmatrix_sparse.c
  include/sundials/sundials_errors.h
  include/sundials/sundials_matrix.h
  include/sunmatrix/sunmatrix_band.h
  include/sunmatrix/sunmatrix_cusparse.h
  include/sunmatrix/sunmatrix_dense.h
  include/sunmatrix/sunmatrix_ginkgo.hpp
  include/sunmatrix/sunmatrix_kokkosdense.hpp
  include/sunmatrix/sunmatrix_magmadense.h
  include/sunmatrix/sunmatrix_onemkldense.h
  include/sunmatrix/sunmatrix_slunrloc.h
  include/sunmatrix/sunmatrix_sparse.h
  src/nvector/sycl/nvector_sycl.cpp
  src/sundials/fmod/fsundials_matrix_mod.f90
  src/sunmatrix/band/fmod/fsunmatrix_band_mod.c
  src/sunmatrix/band/sunmatrix_band.c
  src/sunmatrix/cusparse/sunmatrix_cusparse.cu
  src/sunmatrix/dense/fmod/fsunmatrix_dense_mod.c
  src/sunmatrix/dense/sunmatrix_dense.c
  src/sunmatrix/magmadense/sunmatrix_magmadense.cpp
  src/sunmatrix/onemkldense/sunmatrix_onemkldense.cpp
  src/sunmatrix/slunrloc/sunmatrix_slunrloc.c
  src/sunmatrix/sparse/fmod/fsunmatrix_sparse_mod.c
  src/sunmatrix/sparse/sunmatrix_sparse.c
Labels: enhancement

#397 Bugfix: cusparse matrix test
  examples/sunmatrix/cusparse/test_sunmatrix_cusparse.cu
  include/sundials/sundials_config.in
  src/sunmatrix/cusparse/sunmatrix_cusparse.cu
Labels: cuda

#387 Bugfix/arkode vector requirements
  doc/arkode/guide/source/nvectors/ARKODE_requirements.rst
Labels: docs

#396 Maintenance: Use SYCL 2020 header
  doc/shared/sundials/Install.rst
  examples/utilities/custom_memory_helper_sycl.h
  include/nvector/nvector_sycl.h
  include/sundials/sundials_sycl_policies.hpp
  include/sunlinsol/sunlinsol_onemkldense.h
  include/sunmatrix/sunmatrix_onemkldense.h
  include/sunmemory/sunmemory_sycl.h
  src/nvector/raja/nvector_raja.cpp
  src/nvector/sycl/nvector_sycl.cpp
  src/sundials/sundials_sycl.h
  src/sunmatrix/onemkldense/sunmatrix_onemkldense.cpp
  test/unit_tests/sunmemory/sycl/test_sunmemory_sycl.cpp
Labels: sycl-dpcpp
