Repository LLNL/sundials, pull requests merged in 2024-09, with the labels that each got.

#549 Fix variable arguments start/end
  include/sundials/priv/sundials_errors_impl.h
  src/sundials/sundials_errors.c
  src/sundials/sundials_logger.c
  test/unit_tests/sundials/test_sundials_errors.cpp
Labels: bug

#563 Add message about switching to default SPRK order
  src/arkode/arkode_arkstep.c
  src/arkode/arkode_erkstep.c
  src/arkode/arkode_mristep.c
  src/arkode/arkode_sprkstep.c
Labels: bug, pkg-ARKODE, ready-to-merge

#560 ARKODE Stepper SetDefaults memory leak fix
  CHANGELOG.md
  doc/shared/RecentChanges.rst
  src/arkode/arkode.c
  src/arkode/arkode_adapt.c
  src/arkode/arkode_arkstep_io.c
  src/arkode/arkode_erkstep_io.c
  src/arkode/arkode_io.c
  src/arkode/arkode_mristep_io.c
Labels: bug, pkg-ARKODE

#558 CI Bugfix: Correctly detect single false test arg
  cmake/macros/SundialsAddTest.cmake
Labels: cmake, ci

#566 Add FAQ section to docs
  doc/requirements.txt
  doc/shared/FAQ.rst
  doc/shared/History.rst
  doc/shared/sundials/Install.rst
  doc/superbuild/source/FAQ_link.rst
  doc/superbuild/source/conf.py
  doc/superbuild/source/index.rst
Labels: docs

#573 fix missing semicolon
  examples/sunmatrix/ginkgo/test_sunmatrix_ginkgo.cpp
Labels: bug, tpl-ginkgo

#542 CMake: Use LAPACK imported target
  CHANGELOG.md
  cmake/SUNDIALSConfig.cmake.in
  cmake/SundialsBuildOptionsPost.cmake
  cmake/tpl/SundialsLapack.cmake
  cmake/tpl/SundialsTPL.cmake.template
  doc/Makefile
  doc/shared/RecentChanges.rst
  doc/shared/sundials/Install.rst
  examples/arkode/F2003_serial/CMakeLists.txt
  examples/cvode/F2003_serial/CMakeLists.txt
  examples/cvode/serial/CMakeLists.txt
  examples/cvodes/serial/CMakeLists.txt
  examples/ida/serial/CMakeLists.txt
  examples/idas/serial/CMakeLists.txt
  examples/kinsol/serial/CMakeLists.txt
  examples/sunlinsol/lapackband/CMakeLists.txt
  examples/sunlinsol/lapackdense/CMakeLists.txt
  src/sunlinsol/lapackband/CMakeLists.txt
  src/sunlinsol/lapackdense/CMakeLists.txt
  test/config_cmake.py
  test/env/default.sh
Labels: cmake, tpl-lapack
