Repository LLNL/sundials, pull requests merged in 2024-05, with the labels that each got.

#465 Fix signature of SUNErrHandlerFn in docs
  doc/shared/sundials/Errors.rst
Labels: docs

#467 Fix error handler memory leak. Fixes #466
  CHANGELOG.md
  doc/shared/RecentChanges.rst
  src/sundials/sundials_context.c
Labels: bug, pkg-core

#469 Fix for #464
  CHANGELOG.md
  doc/shared/RecentChanges.rst
  src/sundials/CMakeLists.txt
Labels: cmake

#471 Add missing SUNContext argument to *NewEmpty docs
  doc/shared/nvectors/NVector_Description.rst
  doc/shared/sunlinsol/SUNLinSol_API.rst
  doc/shared/sunmatrix/SUNMatrix_Description.rst
  doc/shared/sunnonlinsol/SUNNonlinSol_API.rst
Labels: docs

#470 Maintenance/arkode cleanup
  CHANGELOG.md
  doc/shared/RecentChanges.rst
  include/arkode/arkode.h
  include/arkode/arkode_arkstep.h
  include/arkode/arkode_erkstep.h
  include/arkode/arkode_mristep.h
  include/arkode/arkode_sprkstep.h
  src/arkode/arkode.c
  src/arkode/arkode_adapt_impl.h
  src/arkode/arkode_arkstep.c
  src/arkode/arkode_arkstep_impl.h
  src/arkode/arkode_arkstep_io.c
  src/arkode/arkode_arkstep_nls.c
  src/arkode/arkode_butcher.c
  src/arkode/arkode_erkstep.c
  src/arkode/arkode_erkstep_io.c
  src/arkode/arkode_impl.h
  src/arkode/arkode_interp_impl.h
  src/arkode/arkode_io.c
  src/arkode/arkode_ls.c
  src/arkode/arkode_ls_impl.h
  src/arkode/arkode_mristep.c
  src/arkode/arkode_mristep_impl.h
  src/arkode/arkode_mristep_io.c
  src/arkode/arkode_mristep_nls.c
  src/arkode/arkode_relaxation.c
  src/arkode/arkode_root.c
  src/arkode/arkode_root_impl.h
  src/arkode/arkode_sprkstep.c
  src/arkode/arkode_sprkstep_impl.h
  src/arkode/arkode_sprkstep_io.c
  src/arkode/arkode_user_controller.c
  src/arkode/fmod/farkode_arkstep_mod.c
  src/arkode/fmod/farkode_arkstep_mod.f90
  src/arkode/fmod/farkode_erkstep_mod.c
  src/arkode/fmod/farkode_erkstep_mod.f90
  src/arkode/fmod/farkode_mod.c
  src/arkode/fmod/farkode_mod.f90
  src/arkode/fmod/farkode_mristep_mod.c
  src/arkode/fmod/farkode_mristep_mod.f90
  src/arkode/fmod/farkode_sprkstep_mod.c
  src/arkode/fmod/farkode_sprkstep_mod.f90
Labels: pkg-ARKODE

#476 FindKLU.cmake: Avoid detecting MSVC libraries when targeting MinGW
  cmake/tpl/FindKLU.cmake
Labels: archos-windows, cmake, tpl-klu

#477 Use `int64_t` for `KLU_INDEXTYPE` if `SUNDIALS_INT64_T` is true.
  CHANGELOG.md
  doc/shared/RecentChanges.rst
  src/sunlinsol/klu/sunlinsol_klu.c
Labels: archos-windows, tpl-klu

#479 use LC template for gitlab id tokens and limit github actions push events
  .github/workflows/double-precision.yml
  .github/workflows/extended-precision.yml
  .github/workflows/single-precision.yml
  .gitlab-ci.yml
Labels: ci

#432 CI (mingw): Install and build with SuiteSparse library
  .github/workflows/windows-latest-mingw.yml
Labels: archos-windows, ci, tpl-klu

#455 Disambiguate shared and static libs `.lib` files on Windows using MSVC
  CHANGELOG.md
  cmake/macros/SundialsAddLibrary.cmake
  doc/shared/RecentChanges.rst
Labels: archos-windows, cmake

#475 CMake: Fix dll install location
  CHANGELOG.md
  cmake/macros/SundialsAddLibrary.cmake
  doc/shared/RecentChanges.rst
Labels: archos-windows, cmake

#485 Do not cast pointers to arrays of differently sized integers.
  CHANGELOG.md
  cmake/tpl/SundialsKLU.cmake
  doc/shared/RecentChanges.rst
  src/sunlinsol/klu/sunlinsol_klu.c
Labels: tpl-klu

#492 CI (MinGW): Add runner for 32-bit (MINGW32)
  .github/workflows/windows-latest-mingw.yml
Labels: ci

#493 Maintenance/rename ginkgo dpcpp to sycl
  CHANGELOG.md
  cmake/SundialsTPLOptions.cmake
  cmake/macros/SundialsAddExamplesGinkgo.cmake
  cmake/tpl/SundialsGinkgo.cmake
  doc/shared/RecentChanges.rst
  doc/shared/sundials/Install.rst
  examples/cvode/ginkgo/CMakeLists.txt
  examples/cvode/ginkgo/cv_heat2D_ginkgo.SYCL.out
  examples/cvode/ginkgo/cv_heat2D_ginkgo.cpp
  examples/cvode/ginkgo/cv_heat2D_ginkgo.hpp
  examples/sunlinsol/ginkgo/CMakeLists.txt
  examples/sunlinsol/ginkgo/test_sunlinsol_ginkgo.cpp
  examples/sunmatrix/ginkgo/CMakeLists.txt
  examples/sunmatrix/ginkgo/test_sunmatrix_ginkgo.cpp
  include/sundials/sundials_config.in
Labels: tpl-ginkgo
