Repository LLNL/sundials, pull requests merged in 2024-12, with the labels that each got.

#600 CMake: Don't clobber un-namespaced options
  CHANGELOG.md
  cmake/SundialsTPLOptions.cmake
  doc/shared/RecentChanges.rst
Labels: cmake

#605 CUDA extended precision
  cmake/SundialsSetupCuda.cmake
Labels: cmake, cuda

#610 Bugfix: Memory leaks
  CHANGELOG.md
  doc/shared/RecentChanges.rst
  examples/arkode/F2003_serial/ark_roberts_dns_f2003.f90
  src/arkode/arkode_impl.h
  src/arkode/arkode_interp.c
  src/arkode/arkode_io.c
  src/arkode/arkode_mristep_io.c
  test/unit_tests/arkode/CXX_serial/ark_test_accumerror_brusselator.cpp
  test/unit_tests/arkode/CXX_serial/ark_test_accumerror_kpr.cpp
  test/unit_tests/arkode/CXX_serial/ark_test_brusselator_mriadapt.cpp
  test/unit_tests/arkode/CXX_serial/ark_test_kpr_mriadapt.cpp
Labels: bug, pkg-ARKODE

#615 Bugfix: Initialize yerr to zero
  CHANGELOG.md
  doc/shared/RecentChanges.rst
  src/arkode/arkode_sprkstep.c
  src/arkode/arkode_sprkstep_io.c
Labels: bug, pkg-ARKODE

#611 Bugfix: Add missing int32 fortran functions
  CHANGELOG.md
  doc/shared/RecentChanges.rst
  src/nvector/manyvector/fmod_int32/fnvector_manyvector_mod.c
  src/nvector/manyvector/fmod_int32/fnvector_mpimanyvector_mod.c
  src/nvector/manyvector/fmod_int64/fnvector_manyvector_mod.c
  src/nvector/manyvector/fmod_int64/fnvector_mpimanyvector_mod.c
  src/sunmatrix/band/fmod_int32/fsunmatrix_band_mod.c
  src/sunmatrix/band/fmod_int64/fsunmatrix_band_mod.c
  src/sunmatrix/dense/fmod_int32/fsunmatrix_dense_mod.c
  src/sunmatrix/dense/fmod_int64/fsunmatrix_dense_mod.c
  swig/nvector/fnvector_manyvector_mod.i
  swig/nvector/fnvector_mpimanyvector_mod.i
  swig/sunmatrix/fsunmatrix_band_mod.i
  swig/sunmatrix/fsunmatrix_dense_mod.i
Labels: bug, Fortran

#614 Bugfix: Rootfinding with Fixed Step Size
  CHANGELOG.md
  doc/shared/RecentChanges.rst
  examples/arkode/C_serial/ark_kepler_--stepper_SPRK_--step-mode_fixed_--count-orbits_--use-compensated-sums.out
  src/arkode/arkode.c
  src/arkode/arkode_root.c
Labels: bug, pkg-ARKODE

#627 Bugfix: RHS eval logic with certain IMEX methods
  CHANGELOG.md
  doc/shared/RecentChanges.rst
  src/arkode/arkode_arkstep.c
  test/unit_tests/arkode/CXX_serial/ark_test_dahlquist_ark.cpp
Labels: bug, pkg-ARKODE
