Repository LLNL/sundials, pull requests merged in 2024-02, with the labels that each got.

#414 Bugfix: Clang warnings for strict prototypes
  cmake/SundialsSetupFortran.cmake
  cmake/tpl/SundialsAdiak.cmake
  cmake/tpl/SundialsCaliper.cmake
  cmake/tpl/SundialsHypre.cmake
  cmake/tpl/SundialsKLU.cmake
  cmake/tpl/SundialsLapack.cmake
  cmake/tpl/SundialsPOSIXTimers.cmake
  cmake/tpl/SundialsSuperLUMT.cmake
  cmake/tpl/SundialsTrilinos.cmake
  cmake/tpl/SundialsXBRAID.cmake
  examples/arkode/C_serial/ark_brusselator1D_klu.c
  examples/cvode/serial/cvRoberts_klu.c
  examples/cvode/serial/cvRoberts_sps.c
  examples/cvodes/serial/cvsRoberts_klu.c
  examples/cvodes/serial/cvsRoberts_sps.c
  examples/kinsol/serial/kinFerTron_klu.c
  examples/kinsol/serial/kinRoboKin_slu.c
Labels: pkg-core

#415 Maintenance: Remove generic math option
  cmake/SundialsBuildOptionsPre.cmake
  cmake/SundialsDeprecated.cmake
  cmake/SundialsSetupCompilers.cmake
  cmake/SundialsSetupConfig.cmake
  doc/shared/sundials/Install.rst
  include/sundials/sundials_config.in
  include/sundials/sundials_math.h
  src/sundials/sundials_math.c
Labels: pkg-core

#418 Maintenance: Remove inline macros
  cmake/SundialsSetupCompilers.cmake
  include/nvector/nvector_cuda.h
  include/nvector/nvector_hip.h
  include/nvector/nvector_parallel.h
  include/nvector/nvector_raja.h
  include/nvector/nvector_serial.h
  include/nvector/nvector_sycl.h
  include/sundials/priv/sundials_errors_impl.h
  include/sundials/sundials_config.in
  include/sunlinsol/sunlinsol_onemkldense.h
  include/sunmatrix/sunmatrix_magmadense.h
  include/sunmatrix/sunmatrix_onemkldense.h
  src/arkode/arkode_sprkstep.c
  src/sundials/sundials_utils.h
  swig/sundials/fsundials.i
Labels: pkg-core

#416 Maintenance: Remove snprintf and va_copy test
  cmake/SundialsSetupCompilers.cmake
  include/sundials/sundials_config.in
  src/sundials/sundials_logger.c
  src/sundials/sundials_utils.h
Labels: pkg-core

#417 Maintenance: Remove isinf and isnan macros
  cmake/SundialsSetupCompilers.cmake
  examples/sunlinsol/test_sunlinsol.c
  examples/sunmatrix/test_sunmatrix.c
  include/sundials/sundials_config.in
  src/sundials/sundials_math.c
Labels: pkg-core

#413 remove explicit default destructor from core classes
  CHANGELOG.md
  doc/arkode/guide/source/Introduction.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/ida/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  doc/kinsol/guide/source/Introduction.rst
  include/sundials/sundials_linearsolver.h
  include/sundials/sundials_matrix.h
  include/sundials/sundials_nonlinearsolver.h
  include/sundials/sundials_nvector.h
Labels: pkg-core

#421 Bugfix/hashmap int overflow
  CHANGELOG.md
  doc/arkode/guide/source/Introduction.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/ida/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  doc/kinsol/guide/source/Introduction.rst
  src/sundials/sundials_hashmap.h
Labels: pkg-core

#424 CMake: Fix CMP0135 warning, remove old CMake workarounds
  CMakeLists.txt
  cmake/SundialsSetupCuda.cmake
  cmake/SundialsSetupFortran.cmake
  cmake/macros/SundialsAddLibrary.cmake
Labels: cmake

#426 Maintenance: move LAPACK FC macros
  CHANGELOG.md
  cmake/SundialsSetupCompilers.cmake
  cmake/SundialsSetupFortran.cmake
  cmake/macros/SundialsAddLibrary.cmake
  cmake/tpl/SundialsLapack.cmake
  doc/arkode/guide/source/Introduction.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/ida/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  doc/kinsol/guide/source/Introduction.rst
  doc/shared/sundials/Install.rst
  include/sundials/sundials_config.in
  src/sundials/sundials_lapack_defs.h.in
Labels: cmake, tpl-lapack

#422 make Release mode the default build type so users automatically get the fastest configuration
  CHANGELOG.md
  CMakeLists.txt
  cmake/SundialsBuildOptionsPre.cmake
  doc/arkode/guide/source/Introduction.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/ida/guide/source/Introduction.rst
  doc/idas/guide/source/Introduction.rst
  doc/kinsol/guide/source/Introduction.rst
  doc/shared/sundials/Errors.rst
  doc/shared/sundials/Install.rst
  examples/cvodes/F2003_serial/cvsAdvDiff_FSA_non_f2003.f90
  examples/sunlinsol/test_sunlinsol.f90
  include/sundials/priv/sundials_errors_impl.h
  include/sundials/sundials_config.in
  test/config_cmake.py
  test/env/default.sh
Labels: cmake

#407 Import installed CMake target for KLU from SuiteSparse
  cmake/SUNDIALSConfig.cmake.in
  cmake/tpl/FindKLU.cmake
  doc/shared/sundials/Install.rst
Labels: cmake, tpl-klu
