Repository LLNL/sundials, pull requests merged in 2024-03, with the labels that each got.

#400 Update the ginkgo batched solvers interface
  cmake/macros/SundialsAddExamplesGinkgo.cmake
  examples/sunlinsol/ginkgo/CMakeLists.txt
  examples/sunlinsol/ginkgo/test_sunlinsol_ginkgo.cpp
  examples/sunlinsol/ginkgo/test_sunlinsol_ginkgo_block.cpp
  examples/sunmatrix/ginkgo/test_sunmatrix_gkoblock.cpp
  include/sunlinsol/sunlinsol_ginkgo.hpp
  include/sunlinsol/sunlinsol_ginkgoblock.hpp
  include/sunmatrix/sunmatrix_ginkgo.hpp
  include/sunmatrix/sunmatrix_ginkgoblock.hpp
Labels: tpl-ginkgo

#445 Bugfix/cmake version compatibility
  CHANGELOG.md
  CMakeLists.txt
  doc/shared/RecentChanges.rst
  doc/shared/sundials/Install.rst
Labels: bug, cmake

#449 Fix c_null_ptr bug in some Fortran examples
  CHANGELOG.md
  doc/shared/RecentChanges.rst
  examples/arkode/F2003_parallel/ark_heat2D_f2003.f90
  examples/arkode/F2003_serial/ark_bruss1D_FEM_klu_f2003.f90
  examples/arkode/F2003_serial/ark_diurnal_kry_bp_f2003.f90
  examples/arkode/F2003_serial/ark_roberts_dnsL_f2003.f90
  examples/arkode/F2003_serial/ark_roberts_dns_f2003.f90
  examples/cvode/F2003_parallel/cv_diag_kry_bbd_f2003.f90
  examples/cvode/F2003_parallel/cv_diag_kry_f2003.f90
Labels: bug, Fortran

#448 Document installation procedure for Frontier
  doc/shared/sundials/Install.rst
Labels: docs

#450 Docs: Updating landing page, remove file tree figure
  doc/arkode/guide/source/Introduction.rst
  doc/arkode/guide/source/Organization.rst
  doc/arkode/guide/source/sundials/index.rst
  doc/cvode/guide/source/Introduction.rst
  doc/cvode/guide/source/Organization.rst
  doc/cvode/guide/source/sundials/index.rst
  doc/cvodes/guide/source/Introduction.rst
  doc/cvodes/guide/source/Organization.rst
  doc/cvodes/guide/source/sundials/index.rst
  doc/ida/guide/source/Introduction.rst
  doc/ida/guide/source/Organization.rst
  doc/ida/guide/source/sundials/index.rst
  doc/idas/guide/source/Introduction.rst
  doc/idas/guide/source/Organization.rst
  doc/idas/guide/source/sundials/index.rst
  doc/kinsol/guide/source/Introduction.rst
  doc/kinsol/guide/source/Organization.rst
  doc/kinsol/guide/source/sundials/index.rst
  doc/shared/SundialsOrganization.rst
  doc/superbuild/source/Organization_link.rst
  doc/superbuild/source/arkode/index.rst
  doc/superbuild/source/cvode/index.rst
  doc/superbuild/source/cvodes/index.rst
  doc/superbuild/source/ida/index.rst
  doc/superbuild/source/idas/index.rst
  doc/superbuild/source/index.rst
  doc/superbuild/source/kinsol/index.rst
  doc/superbuild/source/sundials/index.rst
Labels: docs

#451 Split hashmap into .c and .h file
  src/sundials/CMakeLists.txt
  src/sundials/sundials_hashmap.c
  src/sundials/sundials_hashmap_impl.h
  src/sundials/sundials_logger_impl.h
  src/sundials/sundials_profiler.c
Labels: pkg-core
