Repository LLNL/sundials, pull requests merged in 2025-04, with the labels that each got.

#688 Fix Caliper compile test
  CHANGELOG.md
  cmake/tpl/SundialsCaliper.cmake
  doc/shared/RecentChanges.rst
Labels: bug

#690 Fix spacing in some IDA(S) error messages
  src/ida/ida_impl.h
  src/idas/idas_impl.h
Labels: bug, pkg-IDA, pkg-IDAS

#691 Minor formatting fixes in docs
  doc/cvode/guide/source/Usage/index.rst
  doc/cvodes/guide/source/Usage/SIM.rst
  doc/kinsol/guide/source/Usage/index.rst
  doc/superbuild/source/developers/testing/Answers.rst
Labels: docs
