Repository LLNL/sundials, pull requests merged in 2025-09, with the labels that each got.

#762 A couple of minor documentation fixes
  doc/shared/sundials/Errors.rst
  doc/shared/sundials/Install.rst
  doc/shared/sundials/Logging.rst
Labels: docs

#763 Fixes for MRI-HTol adaptivity -- added missing scaling to accumulated…
  CHANGELOG.md
  doc/shared/RecentChanges.rst
  doc/shared/sunadaptcontroller/SUNAdaptController_MRIHTol.rst
  src/arkode/arkode_mristep.c
  src/sunadaptcontroller/mrihtol/sunadaptcontroller_mrihtol.c
Labels: bug, pkg-ARKODE

#764 Bugfix: KINSOL initialize Anderson acceleration depth
  CHANGELOG.md
  doc/shared/RecentChanges.rst
  src/kinsol/kinsol.c
  src/kinsol/kinsol_aa.c
  test/unit_tests/kinsol/C_serial/CMakeLists.txt
  test/unit_tests/kinsol/C_serial/kin_test_reuse_fp.c
Labels: bug, pkg-KINSOL

#766 Docs: Release links
  doc/shared/Changelog.rst
  doc/shared/History.rst
  scripts/startReleaseCycle.sh
  scripts/updateVersion.sh
Labels: docs

#767 Tools: Update logging docs and MRI logger plotting script
  doc/arkode/guide/source/conf.py
  doc/cvode/guide/source/conf.py
  doc/cvodes/guide/source/conf.py
  doc/ida/guide/source/conf.py
  doc/idas/guide/source/conf.py
  doc/kinsol/guide/source/conf.py
  doc/shared/sundials/Install.rst
  doc/shared/sundials/Logging.rst
  doc/superbuild/source/conf.py
  tools/log_example_mri.py
  tools/suntools/logs.py
Labels: docs
