Repository LLNL/sundials, pull requests merged in 2025-01, with the labels that each got.

#635 guard zeroing of yerr with compensated sums check
  .github/workflows/check-swig.yml
  .github/workflows/ubuntu-clang-latest.yml
  CHANGELOG.md
  doc/arkode/guide/source/Mathematics.rst
  doc/arkode/guide/source/Usage/SPRKStep/User_callable.rst
  doc/shared/RecentChanges.rst
  src/arkode/arkode_sprkstep.c
  test/unit_tests/arkode/C_serial/ark_test_forcingstep.c
Labels: bug, pkg-ARKODE

#645 CI: Add jobs to test PDF doc builds
  .github/workflows/docs-pdfs.yml
Labels: docs, ci

#637 Docs: cleanup install guide
  doc/cvode/guide/source/Usage/index.rst
  doc/shared/FAQ.rst
  doc/shared/nvectors/NVector_Kokkos.rst
  doc/shared/sundials/Install.rst
  doc/shared/sundials/Types.rst
  doc/shared/sunlinsol/SUNLinSol_Ginkgo.rst
  doc/shared/sunlinsol/SUNLinSol_KLU.rst
  doc/shared/sunlinsol/SUNLinSol_KokkosDense.rst
  doc/shared/sunlinsol/SUNLinSol_LapackBand.rst
  doc/shared/sunlinsol/SUNLinSol_LapackDense.rst
  doc/shared/sunlinsol/SUNLinSol_SuperLUDIST.rst
  doc/shared/sunlinsol/SUNLinSol_SuperLUMT.rst
  doc/shared/sunmatrix/SUNMatrix_Ginkgo.rst
  doc/shared/sunmatrix/SUNMatrix_KokkosDense.rst
  doc/shared/sunnonlinsol/SUNNonlinSol_PetscSNES.rst
Labels: docs

#647 Reorganized organization of checkNvector routines
  src/arkode/arkode.c
  src/arkode/arkode_arkstep.c
  src/arkode/arkode_arkstep_impl.h
  src/arkode/arkode_bbdpre.c
  src/arkode/arkode_erkstep.c
  src/arkode/arkode_erkstep_impl.h
  src/arkode/arkode_forcingstep.c
  src/arkode/arkode_impl.h
  src/arkode/arkode_io.c
  src/arkode/arkode_ls.c
  src/arkode/arkode_lsrkstep.c
  src/arkode/arkode_lsrkstep_impl.h
  src/arkode/arkode_mristep.c
  src/arkode/arkode_mristep_impl.h
  src/arkode/arkode_relaxation.c
  src/arkode/arkode_splittingstep.c
  src/arkode/arkode_sprkstep.c
  src/arkode/arkode_sprkstep_impl.h
Labels: pkg-ARKODE

#657 Simplify addressing of CI errors
  .github/workflows/check-format.yml
  .github/workflows/check-spelling.yml
  .github/workflows/check-swig.yml
  .github/workflows/test-address-sanitizer.yml
  .github/workflows/ubuntu-clang-latest.yml
  .github/workflows/ubuntu-latest.yml
Labels: ci
